body {
    background-color: #f0c3eb;
    color: #000000;
}

#application {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 850px;
    height: 80px;
    margin-top: 50px;
    text-align: center;
    font-size: 17px;
    border-style: outset;
    background-color: #94eed0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header button {
    width: 60px;
    height: 60px;
}

main {
    width: 850px;
    height: 680px;
    background-color: #94eed0;
    border-style: outset;
    font-size: 17px;
    
}

#middle-box {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#timer {
    background-color: #7aecec;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 205px;
    height: 70px;
    border-style: groove;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#instructions {
    border-style: inset;
    width: 855px;
    height: 80px;
    font-size: 14px;
    background-color: #86d6bc;
}

#kana-table {
    border-style: ridge;
    background-color: #7aecec;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#kana-table .draggable-list {
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#kana-table .draggable-list li {
    border-style: inset;
}

.draggable-list li {
    background-color: #f0ffff;
    list-style: none;
    border-style: outset;
    margin: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: grab;
    user-select: none;
    text-align: center;
}

.draggable-list li:hover {
    background-color: #9ba7a7;
}

.over {
    background-color: #9ba7a7;
}

#options ul {
    display: flex;
    flex-wrap: wrap;
}